body {
    background-color: #d4d4d4;
}

#search-container {
    background: #d6d6d6;
    border: 1px solid black;
}

#current-weather {
    border: 1px solid black;
}

ul {
    list-style-type: none;
} 

li {
    margin: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
.jumbotron {
    text-align: center;
    background-color: #887491;
    color: black;
    border-radius: 0;
    border-bottom: 5px solid black;
  }
  
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
.saveBtn:hover {
    background: #06afd548;
    color: black;
    transition: all .3s ease-in-out;
  }
  